/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');


/* Импорт кастомных стилей для компонентов */
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/scrool-top.css';
@import './block/popup.css';
@import './block/main-section.css';
@import './block/animateSocialsBtn.css';
@import './block/button.css';
@import './block/info-section.css';
@import './block/ticker.css';
@import './block/parallax.css';

/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'TT Norms';
    src: url('../src/fonts/TTNorms-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Norms';
    src: url('../src/fonts/TTNorms-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../src/fonts/TTNorms-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --black: #393D46;
    --white: #fff;
    --brown-light: #94765B;
    --brown-dark: #816F67;
    --brown-custom: #756B63;
    --biege: #D7CDC9;
    --biege-dark: #9E918C;
    --bg: #E8E4E2;
}

@layer base {
    html {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--brown-light) var(--biege);
        font-family: 'Involve';
    }

    body {
        font-family: 'TT Norms', sans-serif;
        color: #262626;
        background: var(--bg);
        font-weight: 400;
    }

    h2, h3 {
        font-family: 'Bahnschrift';
        line-height: 85px;
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }
}

/* Директивы классов */





/* Прочие классы */

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.important {
    background-image: url('../src/img/pattern-3.png');
    background-repeat: no-repeat;
    background-position: right;
}

.pattern_1 {
    position: absolute;
    top: -50px;
    right: -250px;
    z-index: 1;
}

.pattern_2 {
    position: absolute;
    top: 25%;
    right: 0px;
    z-index: 0;
}
.pattern_3 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.pattern_4 {
    position: absolute;
    top: 28%;
    left: 0px;
    z-index: 1;
}

.pattern_5 {
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 1;
}

.pattern_6 {
    position: absolute;
    top: -45%;
    left: 0;
    z-index: 0;
}

.pattern_7 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.pattern_8 {
    position: absolute;
    top: -40%;
    left: -90px;
    scale: 1.4;
    z-index: 3;
}


.main__svg {
    width: 100%;
    height: auto;
}


@media (max-width: 767px) {
    .important {
        background-image: none;
    }
}

@media (max-width: 1023px) {
    .hero-bg img {
        display: none;
    }
}

.header-fix {
    /* background: rgba(20, 19, 19, 0.8); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    padding-bottom: 10px;
}

.title {
    line-height: 85px !important;
}

#main-section {
    height: 100vh;
}


#main-section {
    background-image: url('../src/img/img/bg-main-b.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: top center;

}

#map_img {
    height: 100vh;
    width: -webkit-fill-available;
}

#map_img {
    background-image: url('../src/img/img/map.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: top center;
}

#architecture {
    padding: 60px 0px 120px 0;
    position: relative;
}

#architecture .container::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--biege);
}

#all_for_comfort {
    padding: 60px 0px 120px 0;
    position: relative;
}

#all_for_comfort .comfort-wrapper div:first-child{
    border: 1px solid var(--biege);
}

.comfort-wrapper {
    display: flex;
    gap: 30px;
}

.comfort-wrapper > div {
    min-width: 400px;
}


#variants {
    position: relative;
    background: #383737;
    padding: 60px 0;
}

#variants .container::after {
    content: '';
    position: absolute;
    max-width: 1440px;
    width: -webkit-fill-available;
    bottom: 0;
    top: 100px;
    height: 2px;
    background-color: var(--brown-dark);
}

#type {
    padding: 120px 0;
}

#type h2::before {
    content: '';
    position: absolute;
    max-width: 1440px;
    width: -webkit-fill-available;
    bottom: 0;
    top: 0px;
    height: 1px;
    background-color: var(--biege);
}

#programs {
    padding: 0px 0px 140px 0;
}

#programs .container::after {
    content: '';
    max-width: 1440px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 2px;
    background-color: var(--biege);
}

.program-item p {
    position: relative;
    font-weight: 700;
    color: white;
    font-size: clamp(1.125rem, 1.125vw + 0.9rem, 2rem);
    font-family: 'Bahnschrift';
    text-transform: uppercase;
}

.program-item p::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 100%;
    left: 0;
    height: 40px;
    background-color: var(--white);
}

#location {
    padding: 60px 0;
    background-color: #383737;
}

#location h2::before {
    content: '';
    max-width: 1440px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 2px;
    background-color: #57504A;
}

#contacts {
    padding: 60px 0;
    background-color: #383737 ;
}

.custom__text {
    position: relative;
    z-index: 1;
}

.custom__text > * {
    position: relative;
    z-index: 1;
}

.custom__text--contacts {
    border: 1px solid #57504A;
    z-index: 1;
}

.custom__text--contacts::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -2px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 200px;
    height: calc(100% + 4px);
    background-color: #383737; 
    transition: all 0.2s ease-in-out;
}


header {
    position: fixed;
    width: -webkit-fill-available;
    z-index: 10;
}

@media screen and (max-width: 769px) {
    #main-section {
        background-image: url('../src/img/img/bg-main-m.png');    
    }
    #architecture {
        padding: 30px 0px 80px 0;
    }

    
    #map_img {
        background-image: url('../src/img/img/map-m.png');
        height: 100%
    }
}

@media screen and (max-width: 480px) {
    #main-section {
        background-image: url('../src/img/img/bg-main-s.png');
    }
    
    #map_img {
        background-image: url('../src/img/img/map-s.png');
       
    }
    .pattern_1 {
        position: absolute;
        top: -50px;
        right: -0px;
        z-index: 1;
    }
    .pattern_3 {
        position: absolute;
        top: 0px;
        left: -0px;
        z-index: 1;
    }
    #map_img {
        height: 100%;
    }
    #architecture {
        padding: 30px 0px 60px 0;
    }

    h2, h3 {
        font-family: 'Bahnschrift';
        line-height: 33px;
    }

}




